html{
    height: 100%;
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
}
a{
   color: #fff; 
   text-decoration: none;
}
a:hover{
    color: #219ebc;
}
body{
    padding:0;
    margin:0;
    text-decoration: none;
    background: linear-gradient(#8ecae6, #219ebc,#023047 ) ;
}
.conteiner{
    text-align: center;
    margin: 50px 250px ;
    border-radius: 56px;
    padding: 10px ;
    background-color: rgba(15, 15, 15, 0.74);
    color: white;
    
}
.data input[type="text"], input[type="password"],input[type="email"]{
    width: 50%;
    padding: 15px;
    margin: 15px;
    border: 5px 10px 5px 10px solid purple;
    border-radius:20px;
    background-color:rgba(255, 255, 255, .8);
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    font-size: 15px;
}
#submit{
    padding: 15px 30px;
    margin: 20px 50px 5px ;
    border: solid 4px #023047;
    border-radius:20px
}
.data input:hover{
    background-color:white;
}

.submit:hover{
    background-color:#219ebc;
    color: white;
}

.error{
    background-color: red;
    font-size:10px;
    padding:10px;

}
.correcto{
    background-color: green;
    font-size:10px;
    padding:10px;
}